<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guardar Equipos</title>
</head>

<body>
    <h1>Formulario para guardar equipos</h1>
    <form th:action="@{/equipo/guardar}" method="POST">
        <label>
            Nombre:
            <input type="text" name="nombre">
        </label>
        <label>
            Presupuesto:
            <input type="number" name="presupuesto">
        </label>
        <label>
            Fecha de Fundacion:
            <input type="date" name="fechaFundacion">
        </label>
        <input type="submit" value="Registrar">


    </form>
</body>

</html>